.link {
  background-color: black;
  font-size: 18px;
  font-weight: 500;
  min-width: 170px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;

  border: 1px solid #fff;
  padding: 8px 15px;
  border-radius: 50px;
  position: relative;
  transition: transform 0.3s;
  text-wrap: nowrap;
}

.link:hover {
  background-color: #fff;
  color: black;
  transform: scale(1.05);
}

.link svg {
  transition: transform 0.5s;
  transition-delay: 0.1s;
}

.link:hover svg {
  transform: translateX(8px);
}
